/* Arche Discord Community */


/* Oswald  */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Dosis */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

[data-Font_Oswald]{

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

[data-Font_Dosis]{

    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}