/* Arche Discord Community */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Oswald  */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Dosis */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* Timmana */
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');

/* Roboto bold */
[data-Font_Roboto]{

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}

/* Oswald  */
[data-Font_Oswald]{

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

/* Dosis */
[data-Font_Dosis]{

    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

/* Timmana */
[data-Font_Timmana]{

    font-family: "Timmana", sans-serif;
    font-weight: 400;
    font-style: normal;

}