/* Arche Discord Community */

[data-HeadMenu ="HeadNav"], [data-HeadMenu ="HeadUl"]{

    width: calc(150px * 6);
    height: 40px;
    margin-top: 0px;
    margin-left: 15px;
    float: left;

}

[data-HeadMenu ="HeadUl"]{

    margin-left: 0px;

}

[data-HeadMenu ="HeadLi"], [data-HeadMenuContent ="LinkContent"],
[data-HeadMenu ="Link"]{

    width: 150px;
    height: 40px;
    margin-top: 0px;
    margin-left: 0px;
    float: left;

}
[data-HeadMenuContent ="TextLink"], [data-HeadMenu ="TextLink"]{

    display: flex;
    text-shadow: 2px 2px 2px #787a7b;
    font-size: 16px;
    margin-top: 5px;
    justify-content: center;


}